/* General html and body config */
html, body {
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  overflow-x: hidden;

  background-image: url("assets/constitution.png");
  background-size: cover;
}

/* Main content styling */
main {
  width: 90%;

  /* Min be screen height */
  min-height: 100vh;
  /* Else be content height */
  height: max-content;
  /* Add space for background image */
  margin-left: 5%;
  margin-right: 3%;

  background-color: white;
}

/* Remove h2 margins */
h2 {
  margin: 0px;
}

/* Navbar styling */
nav.nav {
  /* Horizontal content */
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  /* Sizing */
  margin: 0px;
  width: 100%;
}

.nav_item {
  margin: 1% 25% 1% 1%;
  font-size: 170%;
}

.title {
  font-size: 225%;
  width: 20%;
}

.links {
  /* Horiontal content */
  display: flex;
  justify-content: end;
  margin: 1% -1.5% 0% 0%;
}

.links a:link {
  color: white;
}

.links a:visited {
  color: rgb(161, 159, 159);
}

.links a:hover {
  color: lightgray;
}

.article_title {
  margin: 0px;
}

.card {
  border-style: solid;
  width: 30%;
  height: 20vh;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition:all .4s ease;
  transform-style: preserve-3d;
}

.cardf, .cardb {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cardb{
  transform: rotateY(180deg);
}

.flip-card-inner2 {
  transform: rotateY(180deg);
}

.flip-card-inner3 {
  transform: rotateY(-180deg);
}
