html, body {
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  overflow-x: hidden;

  background-color: sandybrown;
}

main {
  width: 90%;
  min-height: 100vh;
  height: max-content;
  margin-left: 5%;
  margin-right: 3%;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin: 0px;
  width: 100%;
}

.nav_item {
  margin: 1% 25% 1% 1%;
  font-size: 170%;
}

.title {
  font-size: 225%;
  width: 20%;
}

.links {
  display: flex;
  justify-content: end;
  margin: 1% 1% 0% 0%;
}

.links a:link {
  color: white;
}

.links a:visited {
  color: gray;
}

.links a:hover {
  color: lightgray;
}

.article_title {
  margin: 0px;
}

.card {
  border-style: solid;
  width: 30%;
  height: 20vh;
}